<PageTitle>404 Not Found</PageTitle>

<div class="container">
    <h2 class="text-danger">Error 404</h2>
    <p>We sorry, The content you are looking for is not available</p>
    <a href="/" class="btn btn-primary">Go Back</a>
</div>